@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
@if (TempData["ThongBao_DangKy"] != null)
{
    <script>
        // Đoạn mã JavaScript để hiển thị thông báo alert
        alert("@TempData["ThongBao_DangKy"]");
    </script>
}
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Login-Register</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Login-Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Register Area Start Here -->
<div class="login-register-area mt-no-text">
    <div class="container container-default-2 custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Create Account</h2>
                        <p class="desc-content">Please Register using account detail bellow.</p>
                    </div>
                    <form action="/TaiKhoan/DangKy" method="post">
                        <div class="single-input-item mb-3">
                            <input type="text" placeholder="Nhập Họ và Tên" name="hoten" required="">
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="text" placeholder="Nhập Địa Chỉ" name="diachi" required="">
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="email" placeholder="Nhập Email" name="email" required="">
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="number" placeholder="Nhập Số Điện Thoại" name="sdt" id="sdt" required="">
                            <span id="error-msg" style="color: red; display: none;">Số điện thoại cần phải đủ 10 số</span>
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="text" placeholder="Nhập Username" name="tendn" required="">
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="text" placeholder="Nhập Mật Khẩu" name="mk" required="">
                        </div>
                        <div class="single-input-item mb-3">
                            <button type="submit" class="btn flosun-button secondary-btn theme-color rounded-0" onclick="validateAndSubmit(event)">Đăng Ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
