<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dalat Hasfarm - Shop hoa tươi đặt Online, Giao hoa trực tuyến, ONLINE</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="~/image/x-icon" href="~/Image/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/font.awesome.min.css">
    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/linearicons.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>
    <header class="main-header-area">
        <!-- Main Header Area Start -->
        <div class="main-header header-transparent header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
                        <div class="header-logo d-flex align-items-center">
                            <a href="/KhachHang/Home">
                                <img style="width: 190px;" src="~/Image/logo.png" alt="Header Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
                        <nav class="main-nav d-none d-lg-flex">
                            <ul class="nav">
                                <li>
                                    <a class="active" href="/KhachHang/Home">
                                        <span class="menu-text"> Trang Chủ</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/KhachHang/SanPham">
                                        <span class="menu-text">Trang Mua Hàng</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                <li>
                                    <a href="#">
                                        <span class="menu-text"> Tài Khoản</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    @Html.Action("TaiKhoan_Dropdown", "TaiKhoan")
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-text"> Về Chúng Tôi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-text">Liên Hệ</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 col-custom">
                        <div class="header-right-area main-nav">
                            <ul class="nav">
                                <li class="minicart-wrap">
                                    <a href="/KhachHang/GioHang" class="minicart-btn toolbar-btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        @*<span class="cart-item_count">3</span>*@
                                    </a>
                                </li>                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header Area End -->

    </header>

    @*Render area*@
    @RenderBody()
    <footer class="footer-area">
        <div class="footer-widget-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                        <div class="single-footer-widget m-0">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/assets/images/logo/logo-footer.png" alt="Logo Image">
                                </a>
                            </div>
                            <p class="desc-content">Lorem Khaled Ipsum is a major key to success. To be successful you’ve got to work hard you’ve got to make it.</p>
                            <div class="social-links">
                                <ul class="d-flex">
                                    <li>
                                        <a class="rounded-circle" href="#" title="Facebook">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="#" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="#" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="#" title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="#" title="Vimeo">
                                            <i class="fa fa-vimeo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Information</h2>
                            <ul class="widget-list">
                                <li><a href="about-us.html">Our Company</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="about-us.html">Our Services</a></li>
                                <li><a href="about-us.html">Why We?</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Quicklink</h2>
                            <ul class="widget-list">
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Support</h2>
                            <ul class="widget-list">
                                <li><a href="contact-us.html">Online Support</a></li>
                                <li><a href="contact-us.html">Shipping Policy</a></li>
                                <li><a href="contact-us.html">Return Policy</a></li>
                                <li><a href="contact-us.html">Privacy Policy</a></li>
                                <li><a href="contact-us.html">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">See Information</h2>
                            <div class="widget-body">
                                <address>123, ABC, Road ##, Main City, Your address goes here.<br>Phone: 01234 567 890<br>Email: https://example.com</address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container custom-area">
                <div class="row">
                    <div class="col-12 text-center col-custom">
                        <div class="copyright-content">
                            <p>Copyright © 2021 <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a> | Built with&nbsp;<strong>FloSun</strong>&nbsp;by <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="lnr lnr-arrow-up"></i>
    </a>
    <!-- Scroll to Top End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@


    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <!-- nice select JS -->
    <script src="~/assets/js/plugins/nice-select.min.js"></script>
    <!-- Ajaxchimpt js -->
    <script src="~/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Ui js -->
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- Jquery Countdown js -->
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

</body>
</html>
<script>
    //Up
    function updateQuantity(input, maSP) {
        var soluong = $(input).val(); // Sử dụng jQuery để lấy giá trị của input
        var data = {
            masp: maSP,
            soluong: soluong
        };

        // Thực hiện Ajax để gửi số lượng và mã sách
        $.ajax({
            type: 'POST',
            url: '/KhachHang/CapNhatSoLuongGH',
            data: data,
            success: function (response) {
                if (response.success) {
                    // Thực hiện xử lý sau khi cập nhật giỏ hàng thành công
                    console.log("Giỏ hàng đã được cập nhật.");
                    window.location.href = '/KhachHang/GioHang';

                } else {
                    console.log("Có lỗi khi cập nhật giỏ hàng.");
                }
            },
            error: function () {
                console.log('Error updating quantity');
            }
        });
    }

    function updateTangGiam(action, maSP, soLuongTon) {
        console.log('Button clicked:', action, maSP);
        var input = document.querySelector('.soluong-' + maSP);

        if (input) {
            var val = parseInt(input.value, 10);
            var sl = parseInt(soLuongTon, 10);
            if (action === 'minus' && val > 1) {
                input.value = val - 1;
            } else if (action === 'plus' && val < sl) {
                input.value = val + 1;
            }
            updateQuantity(input, maSP);
        }
    }

    function validateAndSubmit(event) {
        var phoneNumber = document.getElementById('sdt').value;

        // Kiểm tra nếu số điện thoại không đủ 10 số
        if (phoneNumber.length !== 10) {
            document.getElementById('error-msg').style.display = 'block';

            // Ngăn chặn sự kiện mặc định của form (ngăn chặn gửi yêu cầu tới controller)
            event.preventDefault();
        } else {
            // Nếu đủ số, submit form
            document.getElementById('error-msg').style.display = 'none';
        }
    }

    document.getElementById('sdt').addEventListener('input', function () {
        var inputValue = this.value;

        // Chặn nhập quá 10 ký tự
        if (inputValue.length > 10) {
            this.value = inputValue.slice(0, 10);
        }

        // Yêu cầu có số 0 ở đầu
        if (!inputValue.startsWith('0')) {
            this.value = '0' + inputValue.slice(1);
        }
    });
    //function kiemTraRadioVaChuyenHuong() {
    //    var thanhToanOnline = document.querySelector('input[name="thanhtoan"][value="true"]').checked;
    //    var shipCOD = document.querySelector('input[name="thanhtoan"][value="false"]').checked;

    //    if (!thanhToanOnline && !shipCOD) {
    //        alert("Vui lòng chọn phương thức thanh toán.");
    //        return false; // Ngăn chặn chuyển hướng
    //    }

    //    // Lấy giá trị của radio đã chọn
    //    var giaTriRadioDaChon = thanhToanOnline ? "true" : "false";

    //    // Chuyển hướng với giá trị của radio đã chọn
    //    window.location.href = '/KhachHang/XacNhanThongTinDatHang?thanhtoan=' + giaTriRadioDaChon;

    //    // Ngăn chặn chuyển hướng mặc định của thẻ a
    //    return false;
    //}
</script>
