@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutQuanly.cshtml";
}

@if (ViewBag.DoanhSoTheoThang == null)
{
    ViewBag.DoanhSoTheoThang = 0;
}
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            @Html.Action("ThongKeTongSo", "QuanLy")

            <div class="col-md-12">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between align-items-center">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Thống Kê Doanh Số Theo Ngày</h4>
                        </div>
                    </div>
                    <div style="width: 80%; margin: 0 auto; padding: 10px;">
                        <form id="dateForm" method="post" action="/QuanLy/Dashboard" class="form-inline">
                            <!-- Label và input cho ngày bắt đầu -->
                            <label for="startDate" class="mr-2">Ngày bắt đầu:</label>
                            <input type="date" id="startDate" name="startDate" class="form-control mr-2" style="border-color: #E72463;">

                            <!-- Label và input cho ngày kết thúc -->
                            <label for="endDate" class="mr-2">Ngày kết thúc:</label>
                            <input type="date" id="endDate" name="endDate" class="form-control mr-2" style="border-color: #E72463;">

                            <!-- Button submit -->
                            <button type="submit" onclick="submitForm()" class="btn btn-primary">Submit</button>
                        </form>
                        <div style="float:right; margin-top:-40px;">
                            <input type="submit" onclick="exportToExcel()" value="Excel" class="btn btn-primary" />
                        </div>

                        <canvas id="salesChart"></canvas>
                    </div>

                    <script>
                        function submitForm() {
                            // Lấy giá trị của ngày bắt đầu và ngày kết thúc
                            var startDate = document.getElementById('startDate').value;
                            var endDate = document.getElementById('endDate').value;
                            // Kiểm tra xem cả hai ngày đã được chọn hay chưa
                            if (startDateValue && endDateValue) {
                                // Nếu đã chọn cả hai ngày, submit form
                                document.getElementById("dateForm").submit();
                            } else {
                                // Nếu chưa chọn cả hai ngày, hiển thị cảnh báo
                                alert("Vui lòng chọn cả ngày bắt đầu và ngày kết thúc.");
                            }
                        }
                        // Dữ liệu mẫu cho biểu đồ
                        var months = ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
                        var salesData = [@Html.Raw(ViewBag.DoanhSoTheoThang)]; // Dữ liệu từ ViewBag

                        var ctx = document.getElementById('salesChart').getContext('2d');
                        var chart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: months,
                                datasets: [{
                                    label: 'Doanh số bán hàng (VNĐ)',
                                    data: salesData,
                                    backgroundColor: '#E72463',
                                    borderColor: 'black',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                        document.addEventListener('DOMContentLoaded', function () {
                            // Lấy các phần tử input và button
                            var startDateInput = document.getElementById('startDate');
                            var endDateInput = document.getElementById('endDate');
                            var submitButton = document.querySelector('#dateForm button[type="submit"]');

                            // Đặt sự kiện change cho ngày bắt đầu
                            startDateInput.addEventListener('change', function () {
                                console.log('Ngày bắt đầu đã thay đổi. Giá trị mới:', startDateInput.value);

                                // Cập nhật giá trị min của ngày kết thúc
                                updateEndDateMinDate();

                                // Kiểm tra và cập nhật trạng thái của button submit
                                updateSubmitButtonState();
                            });

                            // Đặt sự kiện change cho ngày kết thúc
                            endDateInput.addEventListener('change', function () {
                                console.log('Ngày kết thúc đã thay đổi. Giá trị mới:', endDateInput.value);

                                // Kiểm tra và cập nhật trạng thái của button submit
                                updateSubmitButtonState();
                            });

                            // Hàm cập nhật giá trị min của ngày kết thúc
                            function updateEndDateMinDate() {
                                if (endDateInput) {
                                    endDateInput.min = startDateInput.value;
                                }
                            }

                            // Hàm kiểm tra và cập nhật trạng thái của button submit
                            function updateSubmitButtonState() {
                                // Kiểm tra nếu cả hai ngày đã được chọn
                                if (startDateInput.value && endDateInput.value) {
                                    console.log('Cả hai ngày đã được chọn. Ngày bắt đầu:', startDateInput.value, 'Ngày kết thúc:', endDateInput.value);

                                    // Kiểm tra và cập nhật trạng thái của button submit
                                    if (endDateInput.value >= startDateInput.value) {
                                        console.log('Ngày kết thúc hợp lệ. Cho phép submit.');
                                        submitButton.disabled = false;
                                    } else {
                                        console.log('Ngày kết thúc không hợp lệ. Không cho phép submit.');
                                        submitButton.disabled = true;
                                    }
                                }
                            }
                        });
                            function exportToExcel() {
                                var months = ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
                                var salesDataString = '@Html.Raw(ViewBag.DoanhSoTheoThang)'; // Sử dụng trực tiếp mảng salesData

                                // Chuyển đổi chuỗi JSON thành một mảng JavaScript
                                var salesDataArray = JSON.parse('[' + salesDataString + ']');

                                // Tạo một mảng dữ liệu có tiêu đề
                                var dataToExport = [months].concat([salesDataArray]);

                                // Tạo đối tượng workbook và worksheet từ dữ liệu
                                var wb = XLSX.utils.book_new();
                                var ws = XLSX.utils.aoa_to_sheet(dataToExport);

                                // Thêm worksheet vào workbook
                                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
                                var fileName = 'thongke.xlsx';
                                // Tạo Blob từ workbook
                                var blob = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });

                                var excelBlob = new Blob([blob], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

                                saveAs(excelBlob, fileName);
                            }
                        function saveAs(blob, fileName) {
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = fileName;
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
