@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<ChuDe>
@{string cdselected = "";}
@if (ViewBag.ChuDe_Selected != null)
{
    cdselected = ViewBag.ChuDe_Selected;
}
<div class="form-group">
    <label>Danh mục chủ đề:</label>
    <select class="form-control" id="exampleFormControlSelect1" name="chude" required>
        @for (int i = 0; i < Model.Count; i++)
        {
            <option value="@Model[i].MaChuDe" @(i == 0 ? "selected" : "")>
                @Model[i].TenChuDe
            </option>
        }
    </select>
</div>