<div class="col-md-6 col-lg-4">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-body">
            <div class="d-flex align-items-center">
                <div class="rounded-circle iq-card-icon bg-primary"><i class="ri-user-line"></i></div>
                <div class="text-left ml-3">
                    <h2 class="mb-0"><span class="counter">@(ViewBag.TongSLTonKho != null ? ViewBag.TongSLTonKho : "0")</span></h2>
                    <h5 class="">Tồn Kho</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-4">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-body">
            <div class="d-flex align-items-center">
                <div class="rounded-circle iq-card-icon bg-danger"><i class="ri-book-line"></i></div>
                <div class="text-left ml-3">
                    <h2 class="mb-0"><span class="counter">@(ViewBag.TongSoSanPham != null ? ViewBag.TongSoSanPham : "0")</span></h2>
                    <h5 class="">Sản Phẩm</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-4">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-body">
            <div class="d-flex align-items-center">
                <div class="rounded-circle iq-card-icon bg-warning"><i class="ri-shopping-cart-2-line"></i></div>
                <div class="text-left ml-3">
                    <h2 class="mb-0"><span class="counter">@(ViewBag.TongSoHoaDon != null ? ViewBag.TongSoHoaDon : "0")</span></h2>
                    <h5 class="">Hóa Đơn</h5>
                </div>
            </div>
        </div>
    </div>
</div>